name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  RAKU_VERSION: 'latest'

jobs:
  ci:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Raku
        uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ env.RAKU_VERSION }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.raku
            ~/.zef
          key: raku-${{ runner.os }}-${{ env.RAKU_VERSION }}-${{ hashFiles('META6.json') }}
          restore-keys: |
            raku-${{ runner.os }}-${{ env.RAKU_VERSION }}-
            raku-${{ runner.os }}-

      - name: Install just (Unix)
        if: runner.os != 'Windows'
        run: curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to /usr/local/bin

      - name: Install just (Windows)
        if: runner.os == 'Windows'
        shell: powershell
        run: choco install just -y

      - name: Install dependencies
        run: |
          zef install --deps-only . --/test
          zef install App::Prove6 --/test

      - name: Lint
        run: just lint

      - name: Test
        run: just test
